<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="business.receiver.mapper.MyBaseMapper">
    <select id="checkTableExists"
            resultType="java.lang.Integer">
        SELECT COUNT(1) FROM information_schema.tables WHERE
        table_name = #{tableName} or table_name = lower(#{tableName}) or table_name = upper(#{tableName})
    </select>

    <select id="sqlQuery"  resultType="java.util.HashMap">
        ${sql}
    </select>
    <insert id="insert">
      ${sql}
    </insert>

    <delete id="delete">
      ${sql}
    </delete>
    <update id="sqlExcute">
      ${sql}
    </update>
    <select id="isExistMHDData"
            resultType="java.lang.Integer">
        SELECT COUNT(1) AS COUNTNUM FROM  ${tableName} WHERE DATA_TIME= #{dataTime} AND MN= #{mn}
    </select>

</mapper>